# Obsidian workspace local
.obsidian/workspace.json
.obsidian/workspace-mobile.json

# Obsidian cache
.obsidian/cache/

# Trash
.trash/

# OS files
.DS_Store
Thumbs.db

# Temp files
*.tmp
*.bak

#images
*.png

*.obsidian